.opporCard {
    display: flex;
    align-items: center;
    gap: 16px;

    &__imgBox {
        padding: 14px 12px;
        background: #169541;
        border-radius: 50%;
    }

    &__img {
        width: 69px;
    }

    &__name {
        font-family: Inter;
        font-size: 17px;
        font-weight: 800;
        line-height: 20.57px;
        color: #169541;
        text-transform: uppercase;
    }

    &__text {
        font-family: Inter;
        font-size: 12px;
        font-weight: 500;
        line-height: 14.52px;
        color: #BCB5B5;
        text-transform: uppercase;
        margin-top: 17px;
    }
}